* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

header {
    min-height: 100vh;
    background-image: url(../img/jumbo.png);
    background-size: contain;
    background-position: top;
    background-repeat: round;
}

/* UTILITIES */
.container_width {
    width: 1000px;
    margin: auto;
}

.col_1_6{
    width: calc(100% / 6);
}

.col_2_6{
    width: calc(100% / 6 * 2);
}

.col_4_6{
    width: calc(100% / 6 * 4);
}

.color_white {
    color: white;
}

.color_black {
    color: rgb(35, 39, 42);
}

.color_purple {
    color: rgb(114, 137, 218);
}

.color_lightpurple {
    color: rgb(142, 162, 225);
}
/* FINE UTILITIES */



.header__nav{
    padding-top:20px ;
    word-spacing: -10px;
}

.header__logo{
    vertical-align: middle;
    display: inline-block;
}

.header__link{
    display: inline-block;
    text-align: center;
    word-spacing: 0px;
}

.header__link ul li{
    display: inline-block;
    margin: 0 15px;
}

.header__link ul li a{
    text-decoration: none;
    color: white;
}

.header__nav__button{
    display: inline-block;
    text-align: right;
}

.header__nav__button a{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 5px 10px;
    border-radius: 20px;
}
/* FINE HEADER NAV */

.header__title{
    text-align: center;
    font-size:xxx-large;
    margin-top: 80px;
    color: white;
}

.header__text{
    margin:30px auto;
    color: white;
}
